#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#intro {
  position: absolute;
  z-index: 10;
  background-color: white;
  border: 1px solid whitesmoke;
  text-align: center;
  border-radius: 40px;
  width: 400px;
  height: 420px;
}

#intro-header {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  width: 200px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#you-see {
  position: absolute;
  z-index: 11;
  background-color: white;
  border: 1px solid whitesmoke;
  text-align: center;
  border-radius: 40px;
  width: 500px;
  height: 200px;
}

#you-see-header {
  padding: 0px;
  position: absolute;
  cursor: move;
  z-index: 10;
  background-color: black;
  color: #fff;
  border-radius: 10px;
  width: 500px;
  height: 200px;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#button-info {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 500px;
}
